[Desktop Entry]
Encoding=UTF-8
Name=Tabbed File Browser
Name[pl]=Przeglądarka plików z zakładkami
Comment=Browse the file system with the file manager using tabbed interface
Comment[pl]=Przegląda system plików za pomocą menedżera plików opartego o zakładki
Exec=pcmanfm %d
Icon=file-manager
Terminal=false
Type=Application
Categories=GNOME;Application;System;Utility;
